/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do container principal */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.resultado {
    visibility: hidden;
}

.txt-resultado {
    visibility: hidden;
}

/* Estilo dos títulos */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h3 {
    font-size: 20px;
    color: #27ae60;
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

/* Estilo para os campos de entrada */
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #3498db;
}

/* Estilo do botão de envio */
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
